/.idea
__pycache__
*/__pycache__
/build
/System/__pycache__
/*.pec
*.pyc
*/*cpython-39.pyc
/Etc/__pycache__
/Components/Base/__pycache__
/Components/DataSet/__pycache__
/Components/Edit/__pycache__
/Components/Form/__pycache__
/Components/Label/__pycache__

/Components/Script/__pycache__
/app/temp
/app/.idea
/app/db.shelve.dat
