span.label
{

}
span[note="labelWithNote"]
{
    position: relative;
    display: inline-block;
}
span.labelNote
{
    bottom: 0mm;
    display: block;
    font-weight: normal;
    left: 0;
    line-height: 2.5mm;
    position: absolute;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
    border-top: 1px solid black;
}
.formSized{
    position: relative;
    height: auto;
    width: auto;
    margin: 0 auto;
}
.formSizedContainer{
    background-color: rgba(0,0,0,0.0) !important;
    overflow: auto !important;
}
.formFrame{
    background:url('~CmpForm/framebg') repeat transparent;
    padding: 30px 10px 10px;
    position: absolute;
}
.formFrame .frameCaption{
    margin-top: -30px;
    line-height: 30px;
    margin-right: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
    color: #FFFFFF;
    user-select: none;
}
.formFrame .frameClose {
    position: absolute;
    display: block;
    width: 40px;
    height: 20px;
    background-color: #DC322F;
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    top: 5px;
    right: 10px;
    user-select: none;
}.ctrl_edit
{
    display: inline-block;
    position: relative;
    border-radius: 3px;
}
.ctrl_edit input
{
    height: 100%;
}



element.style {
}
.ctrl_edit input {
    height: 100%;
}

input[type="text"], input[type="password"], textarea {
    border: 1 none;
    border-color: rgb(160,160,160)
    outline: none;
    height: 22px;
    padding: 3px 6px;
    color: #000000;
    font-weight: normal;
    min-width: 0%;
    width: 100%;
    font-size: 13px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
    border-radius: 3px;
    margin: 0;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

input[type="text" i] {
    padding: 1px 2px;
}
input {
    -webkit-writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}.ctrl_button
{
    cursor: pointer;
    height: 28px;
    -moz-user-select: none;
    user-select: none;
    display: inline-table;
    white-space: nowrap;
    outline: none;
    padding-right: 8px;
    position: relative;
    line-height: 28px;
    
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F7F9', 
            endColorstr='#E0E5E9',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F5F7F9), to(#E0E5E9));
    background-image: -webkit-linear-gradient(top, #F5F7F9, #E0E5E9);
    background-image: linear-gradient(top, #F5F7F9, #E0E5E9);
    background-image: -moz-linear-gradient(center top , #F5F7F9, #E0E5E9);
    background-repeat: repeat-x;
    border-spacing: 0;
    border-color: #DDDDDD #BBBBBB #999999;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #FFFFFF inset;
    color: #000000;
    text-shadow: 0 1px 0 #FFFFFF;
    text-indent: 0px;
    border-collapse: separate;
    text-align: center;
}
.ctrl_button .btn_icon
{
    display: table-cell;
    vertical-align: middle;
    padding-left: 8px;
}
.ctrl_button .btn_caption
{
    height: 100%;
    line-height: inherit;
    text-align: center;
    padding-left: 8px;   
}
.ctrl_button .minwidth
{
    min-width: 80px; 
}
.ctrl_button.primary {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088CC', 
            endColorstr='#0077BB',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088CC), to(#0077BB));
    background-image: -webkit-linear-gradient(top, #0088CC, #0077BB);
    background-image: linear-gradient(top, #0088CC, #0077BB);
    background-image: -moz-linear-gradient(top , #0088CC, #0077BB);
    background-color: #006DCC;
    background-repeat: repeat-x;
    border-color: #40A5D7 #0077BB #003889;
    box-shadow: 0 1px 0 #7FC2E4 inset;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}
.ctrl_button:hover.primary, .ctrl_button:active.primary, .ctrl_button.active.primary
{
    filter: none;
    background-color: #0077BB;
    border-color: #0077BB #0077BB #003889;
}
.ctrl_button:hover, .ctrl_button:active, .ctrl_button.active
{
    filter: none;
    background-color: #E0E5E9;
    background-position: 0 -28px;
    border-color: #BBBBBB;
    transition: background-position 0.1s linear 0s;
}
.ctrl_button:hover .btn_caption, .ctrl_button:active .btn_caption, .ctrl_button.active .btn_caption
{
    color: #333333;
}
.ctrl_button.primary .btn_caption
{
    color: #FFFFFF;
}
.ctrl_button:active, .ctrl_button.active
{
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
.ctrl_button.ctrl_disable
{
    filter: none;
    border-color: #DDDDDD #BBBBBB #999999;
    background-image: none;
    background-color: #EDEDED !important;  
    box-shadow: none;
}
.ctrl_button.ctrl_disable .btn_caption
{
    color: #AAAAAA;
}
.ctrl_button.onlyicon .btn_caption
{
    min-width: 0;
    width: 0;
    padding: 0;
}
.ctrl_button.onlyicon .btn_caption:after
{
    content: "_";
    display: block;
    width: 0;
    overflow: hidden;
}
.footer {
   position: absolute;
   width:calc(100% - 20px);
   left: 10px;
   bottom: 10px;
   right: 10px;
}
.ctrl_warning
{
    background-color: #FFFACD;
}
.ctrl_error
{
    background-color: #FF8888;
}.ctrl_combobox{
    position: relative;
    padding-right: 22px;
    display: inline-block;
    border-radius: 3px;
}
.ctrl_combobox.ctrl_disable{
    cursor:default;
}
div.cmbb-button
{
    width: 22px;
    height: 22px;
    position: absolute;
    right: 0;
    top: 0;
    background: url('Components/ComboBox/images/button.png') no-repeat transparent;
    cursor: pointer;
}
div.cmbb-button:active
{
    background-position: 0 -22px;
}
.ctrl_combobox.ctrl_disable div.cmbb-button
{
    background-position: 0 -44px;
    cursor:default;
}
div.cmbb-droplist{
    min-width:  100%;
    display: none;
    position: absolute;
    top: -500px; /* Фиксим скролл */
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid #9696AA;
    text-align: left;
    z-index: 7;
    background: #FFFFFF;
    margin: -1px 0 0 -1px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div.cmbb-droplist table{
    margin: 0px;
    overflow: hidden;
    width: 100%;
    text-align: left;
}
div.cmbb-droplist table tr{
    background-color: white;
    cursor: pointer;
}
div.cmbb-droplist table tr td{
    padding: 4px 6px;
}
div.cmbb-droplist table tr.combo-item-selected{
    background: #D8EAF4;
}
div.cmbb-droplist table tr:hover{
    background: #D8EAF4;
    cursor: pointer;
}
div.cmbb-droplist table tr.combo-item-selected:hover
{
    background: #C4E3F3;
}
/** Стили для Иерархического комбобокса **/
div.cmbb-droplist tr span.btnOC {
    width: 18px;
    height: 18px;
    display: inline-block;
    cursor: pointer;
}

div.cmbb-droplist table tr.opened span.btnOC {
    background: url("Components/ComboBox/images/sq.png") left -1px no-repeat transparent;
}
div.cmbb-droplist table tr.closed span.btnOC {
    background: url("Components/ComboBox/images/sq.png") left -62px no-repeat transparent;
}
div.cmbb-droplist table tr:not([parentfield]) span.btnOC {
    display: none;/*это не иерархический справочник*/
}
div.cmbb-droplist table tr.hide {
    display: none;
}div[cmptype="CheckBox"]{
    line-height: 22px;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent !important;
    position: relative;
}
div[cmptype="CheckBox"] span{
	cursor: default;
    line-height: 22px;
    display: inherit !important;
}
div[cmptype="CheckBox"] input{
    line-height: 22px;
    height: 22px;
    display: inherit !important;
    margin: 0px 5px 0 0;
    vertical-align: middle;
}
div[cmptype="CheckBox"].ctrl_disable input
{
    background: transparent !important;
}
.ctrl_mask
{
    background: #E3FADE;
}
.ctrl_mask_warning
{
    background: #FF8888;
}
.ctrl_dependence::after
{
    content: '*';
    color: #FF0000 !important;
    position: absolute;
    left: -10px;
    top: 0;
}
.ctrl_dependence.not_dependence::after
{
    content: '';
}
.ctrl_hyper_link:hover {
    cursor: pointer;
}
.ctrl_expander {
    position: relative;
    min-height: 24px;
}
.ctrl_expander > .expander_zone_click {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    height: 24px;
    line-height: 24px;
    padding-left: 21px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    font-size: 13px;
    color: #0088CC;
    cursor: pointer;
    background: url('/Components/Expander/images/arrow.png') 4px -7px no-repeat;
}
.ctrl_expander.show > .expander_zone_click {
    background-position: 4px 10px;
}
.ctrl_expander.turn > .expander_zone_click {
    top: auto;
    bottom: 0;
}
.ctrl_expander > .expander_zone_click:hover {
    color: #000;
}
.ctrl_expander.ctrl_disable > .expander_zone_click {
    color: #555;
    cursor: default;
}
.ctrl_expander > .expander_content {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding: 24px 0 0;
    display: none;
}
.ctrl_expander.show > .expander_content {
    display: block;
}
.ctrl_expander.turn > .expander_content {
    padding: 0 0 24px;
}
.ctrl_expander.vertical{
    width: 24px;
}
.ctrl_expander.vertical.show
{
    width: auto;
}
.ctrl_expander.vertical.turn.show > .expander_content {
    padding: 0 24px 0 0;
}
.ctrl_expander.vertical > .expander_content {
    padding: 0 0 0 24px;
}
.ctrl_expander.vertical > .expander_zone_click {
    left: 0;
    right: auto;
    bottom: auto;
    top: 0;
    height: 100%;
    border-right: 1px solid #DDDDDD;
    width: 0;
    padding-left: 18px;
    background: url('/Components/Expander/images/arrow_v.png') -12px 7px no-repeat;
}
.ctrl_expander.vertical.show > .expander_zone_click {
    background-position: 4px 7px;
}
.ctrl_expander.vertical.turn.show > .expander_zone_click {
    border: 0 none;
    border-left: 1px solid #DDDDDD;
    left: auto;
    right: 0;
    background-position: 4px 7px;
}

.ctrl_expander.vertical > .expander_zone_click .caption_cont {
    display: none;
/*   
    display: inline-block;
    transform: rotate(-90deg);
*/
}


.ctrl_expandable_vertical_dir {
   padding-top: 10px;
   overflow: hidden;
   -moz-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   -webkit-transition: all 0.5s ease-in-out;
   transition: all 0.5s;
   border-top: 1px solid rgba(100,100,100,0.5); /* Линия сверху текста */
   border-bottom: 1px solid rgba(100,100,100,0.5); /* Линия снизу текста */
}

.ctrl_expandable_vertical_dir > .expander_zone_click:hover {
    color: #000;
    background-position:  4px -5px;
}

.ctrl_expandable_vertical_dir > .expander_zone_click {
   /* top: 10;*/
    left: 0;
    right: 0;
    bottom: auto;
    height: 24px;
    line-height: 24px;
    padding-left: 21px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid rgba(100,100,100,0.5); /* Линия снизу текста */
    background: url('/Components/Expander/images/arrow.png')no-repeat;
    background-position:  4px -7px;
}
/*
div.textArea
{
    border-radius: 3px;
    position: relative;
}
div.textArea textarea
{
    height: 100%;
    padding: 3px 6px;
    width: 100%;    
}
*/
element.style {
}
div.textArea textarea {
    height: 100%;
    padding: 3px 6px;
    width: 100%;
}
textarea {
    height: auto;
    min-height: 40px;
    resize: none;
    padding: 3px 6px;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    overflow: auto;
}
input[type="text"], input[type="password"], textarea {
    border: 1 none;
    outline: none;
    height: 22px;
    padding: 3px 6px;
    color: #000000;
    font-weight: normal;
    min-width: 0%;
    width: 100%;
    font-size: 13px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
    border-radius: 3px;
    margin: 0;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}
<style>
* {
    filter: none !important;
}
user agent stylesheet
textarea {
    -webkit-writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: monospace;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    column-count: initial !important;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
}div.popupMenu
{
    cursor: pointer;
    width: auto;
    position: fixed;
    display: none;
    border: 1px solid rgb(165, 165, 165);
    background-color: rgb(255, 255, 255);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
    padding: 5px 0;
}
div.popupMenu.waitAction
{
    overflow: hidden;
}
div.popupMenu.waitAction > div.item, 
div.popupMenu.waitAction > div.popupGroupItem
{
    display: none;
}
div.popupMenu div.item.waittext
{
    display: none;
    padding: 5px 15px;
}
div.popupMenu.waitAction>div.item.waittext
{
    display: block;
}
div.popupMenu.notactive>div.item>table
{
    /*opacity: 0.3;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);*/
}
div.popupMenu.notactive>div.item.active>table
{
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
div.popupMenu:hover
{
    /*display: block;*/
}
div.popupMenu div.item
{
    position: relative;
}
div.popupMenu div.item.separator
{
    border-top: 1px solid #E5E5E5;
    margin: 9px 1px;
}
div.popupMenu div.item td.itemCaption
{
    white-space: nowrap;
    padding: 0px 15px 0px 28px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    line-height: 20px;
}
div.popupMenu div.item[default="true"] td.itemCaption
{
    font-weight: bold;
}
div.popupMenu div.item td.caret
{
    background: url('Components/PopupMenu/images/haveitems.png') no-repeat left center transparent;
    width: 8px;
    display: none;
}
div.popupMenu div.item.haveItems > table td.caret
{
    display: table-cell;
}
div.popupMenu div.item:hover, div.popupMenu div.item:active
{
    background-color: #0081C2;
}
div.popupMenu div.item:hover >table>tbody>tr> td.itemCaption, div.popupMenu div.item:active >table>tbody>tr> td.itemCaption
{
    color: #FFFFFF;
    cursor:pointer;
}
div.popupMenu div.item div.subItems
{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
}
div.popupMenu div.item.active>div.subItems
{
    display: block;
}
div.popupMenu div.item.ctrl_disable
{
    background-color: transparent !important;
}
div.popupMenu div.item.ctrl_disable>table
{
    cursor: default;
}
div.popupMenu div.item.ctrl_disable>table>tbody>tr>td.itemCaption
{
    color: #999999;
    text-shadow: none;
}
div.popupMenu div.item .itemIcon
{
    vertical-align: middle;
    border: 0 none;
    margin-left: -19px;
    margin-right: 3px;
    margin-top: -2px;
}
div.popupMenu div.item.ctrl_disable .itemIcon
{
    opacity: 0.5;
}
div.popupMenu div.item .itemIcon[src=""]
{
    display: none;
}
.color_select_icon {
  border:outset 2px;
  line-height:18px;
  height:18px;
  width:20px;
  margin:0px;
  background-color:transparent;
  background-repeat:no-repeat;
  background-image:url('/Components/ColorEdit/images/color_select_icon.png');
}

.color_select_icon:active {
border:inset 2px;
}

.color_select_box {
  position:absolute;
  width:290px;
  line-height:290px;
  border:outset 2px;
  background-color:#cccccc;
  padding:2px;
  z-index:100000;
}

.sv_select_box_bg {
  width:256px;
  line-height:256px;
  border:solid 1px #000;
  padding:0px;
  float:left;
}

.sv_select_box {
  width:256px;
  line-height:256px;
  border:solid 0px #000;
  padding:0px;
  float:left;
  /* Mozilla doesn't support crazy MS image filters, so it will ignore the following */
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src='/Components/ColorEdit/images/sv_blend.png');
}

/* IE ignores css styles with [attributes], so it will skip the following. */
.sv_select_box[class] {
  background:url('/Components/ColorEdit/images/sv_blend.png') top left no-repeat;
}

.h_select_box {
  width:20px;
  height:256px;
  line-height:256px;
  border:solid 1px #000;
  padding:0px;
  margin:0px;
  margin-left:5px;
  float:left;
  background-image:url('/Components/ColorEdit/images/hue_blend.png');
}

.hue_cursor {
  position:absolute;
  border:solid 1px #000;
  height:2px;
  line-height:2px;
  width:22px;
  padding:0px;
  margin-left:-2px;
}

.sv_crosshair_horiz_cursor {
position:absolute;
border:solid 0px #000;
border-top-width:1px;
background-color:transparent;
height:0px;
line-height:0px;
width:257px;
padding:0px;
}

.sv_crosshair_vert_cursor {
position:absolute;
border:solid 0px #000;
background-color:#000;
height:257px;
_margin-top:-257px;  /* Needed because IE sucks */
width:1px;
padding:0px;
}

.sv_crosshair_center_cursor {
position:absolute;
border:solid 1px #000;
background-color:#ffffff;
height:7px;
line-height:7px;
width:7px;
padding:0px;
z-index:100002;
}

.color_box {
float:left;
clear:left;
margin-top:5px;
border:solid 1px #000;
width:256px;
height:20px;
line-height:30px;
}

.color_value_box {
float:right;
border:solid 1px #000;
margin:2px;
vertical-align:middle;
padding-left:2px;
height:15px;
line-height:15px;
font-family:courier, fixed;
font-size:8pt;
background-color:#ffffff;
width:11ex;
}

.ok_button {
float:right;
text-align:center;
vertical-align:middle;
border:outset 1px #000;
margin-top:5px;
margin-right:5px;
width:20px;
height:20px;
line-height:20px;
font-family:helvetica, sans-serif;
font-size:8pt;
cursor:pointer;
cursor:hand;
}

/* 
  You can delete the styles below this comment.  
  They're only for the demo page.  
*/

div.content_box {
border:1px solid;
border-color:#b76637;
padding: 5px;
margin: 1em 0 2.5em;
}

span.title {
font-weight:bold;
padding:5px;
margin-bottom:0px;
border:1px solid;
border-color:#b76637;
background-color:#efd0a0;
position: relative; 
top: -0.66em;
}

p {
  margin-top:0px;
  margin-bottom:10px;
}

div {
  margin-top:0px;
  margin-bottom:0px;
}
div.popupMenu
{
    cursor: pointer;
    width: auto;
    position: fixed;
    display: none;
    border: 1px solid rgb(165, 165, 165);
    background-color: rgb(255, 255, 255);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.45);
    padding: 5px 0;
}
div.popupMenu.waitAction
{
    overflow: hidden;
}
div.popupMenu.waitAction > div.item, 
div.popupMenu.waitAction > div.popupGroupItem
{
    display: none;
}
div.popupMenu div.item.waittext
{
    display: none;
    padding: 5px 15px;
}
div.popupMenu.waitAction>div.item.waittext
{
    display: block;
}
div.popupMenu.notactive>div.item>table
{
    /*opacity: 0.3;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);*/
}
div.popupMenu.notactive>div.item.active>table
{
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
div.popupMenu:hover
{
    /*display: block;*/
}
div.popupMenu div.item
{
    position: relative;
}
div.popupMenu div.item.separator
{
    border-top: 1px solid #E5E5E5;
    margin: 9px 1px;
}
div.popupMenu div.item td.itemCaption
{
    white-space: nowrap;
    padding: 0px 15px 0px 28px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    line-height: 20px;
}
div.popupMenu div.item[default="true"] td.itemCaption
{
    font-weight: bold;
}
div.popupMenu div.item td.caret
{
    background: url('Components/PopupMenu/images/haveitems.png') no-repeat left center transparent;
    width: 8px;
    display: none;
}
div.popupMenu div.item.haveItems > table td.caret
{
    display: table-cell;
}
div.popupMenu div.item:hover, div.popupMenu div.item:active
{
    background-color: #0081C2;
}
div.popupMenu div.item:hover >table>tbody>tr> td.itemCaption, div.popupMenu div.item:active >table>tbody>tr> td.itemCaption
{
    color: #FFFFFF;
    cursor:pointer;
}
div.popupMenu div.item div.subItems
{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
}
div.popupMenu div.item.active>div.subItems
{
    display: block;
}
div.popupMenu div.item.ctrl_disable
{
    background-color: transparent !important;
}
div.popupMenu div.item.ctrl_disable>table
{
    cursor: default;
}
div.popupMenu div.item.ctrl_disable>table>tbody>tr>td.itemCaption
{
    color: #999999;
    text-shadow: none;
}
div.popupMenu div.item .itemIcon
{
    vertical-align: middle;
    border: 0 none;
    margin-left: -19px;
    margin-right: 3px;
    margin-top: -2px;
}
div.popupMenu div.item.ctrl_disable .itemIcon
{
    opacity: 0.5;
}
div.popupMenu div.item .itemIcon[src=""]
{
    display: none;
}
.dialogCtrl {
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0 20px 0 #222;
    -webkit-box-shadow: 0 0 20px 0 #222;
    -moz-box-shadow: 0 0 20px 0 #222;
    display: none;
    left: 50%;
    margin: -120px 0 0 -190px;
    padding: 20px 20px 20px 20px;
    position: fixed;
    top: 40%;
    width: 350px;
    z-index: 5;
}

.dialogCtrl-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .50;
    -webkit-opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity=50);
    z-index: 5;
}

.dialogCtrl-background.active, .dialogCtrl.active {
    display: block;
}

.dialogCtrl .dialogCtrl-text{

}

.dialogCtrl .dialogCtrl-caption {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding-bottom: 5px;
}

.dialogCtrl .dialogCtrl-buttons {
    text-align: center;
    padding-top: 10px;
}

.dialogCtrl .dialogCtrl-loading-table {
    width: 100%;
    border-spacing: 10px;
}

.dialogCtrl .dialogCtrl-loading-table .dialogCtrl-loading-icon {
    text-align: right;
}img.D3Image
{
    border: 0 none;
}
.toolbarCtrl {
   background-color: #505e6a;
   width:calc(100% - 20px);
   height: 44px;
   max-height: 44px;
   text-align: right;
}
.toolbarCtrl .toolbarCtrl_container {
    padding: 6.5px;
    white-space: unset;
    vertical-align: middle;
    height: 100%;
    box-sizing: border-box;
}

.toolbarCtrl .toolbarCtrl_container .ctrl_button {
    font-size: 15px;
    background-color: #fff;
    color: #000;
}

.toolbarCtrl .toolbarCtrl_container .button_cancel {
    font-size: 15px;
    background-color: #505e6a;
    color: #fff;
    border: 1px solid #fff;
}

.toolbarCtrl .toolbarCtrl_container .button_cancel:hover {
    font-size: 15px;
    background-color: #505e6a;
    color: #819ba8;
    border: 1px solid #819ba8;
}

.toolbarCtrl .toolbarCtrl_container .button_cancel.ctrl_disable {
    color: #babcbc;
    border: 1px solid #e8e9e7;
    background-color: #e8e9e7;
}

.toolbarCtrl .toolbarCtrl_container .ctrl_disable {
    color: #babcbc;
    border: 1px solid #e8e9e7;
    background-color: #e8e9e7;
}

.toolbarCtrl .toolbarCtrl_container .left {
    height: 100%;
    color: #fff;
    float: left;
    padding: 0px 10px 0px 10px;
    border-right: 1px solid #bbbbbb;
}

.toolbarCtrl .toolbarCtrl_container .center {
    height: 100%;
    color: #fff;
    float: left;
    padding: 0px 10px 0px 10px;
}

.toolbarCtrl .toolbarCtrl_container .right {
    color: #fff;
    float: right;
    padding: 0px 10px 0px 10px;
    border-left: 1px solid #bbbbbb;
    height: 100%;
}

.toolbarCtrl .toolbarCtrl_container .label {
    float: left;
    color: #fff;
    padding: 5px 5px 5px 10px;
}

.toolbarCtrl .toolbarCtrl_container .header {
    float: left;
    color: #fff;
    padding: 0px 10px 0px 5px;
    height: 100%;
    font-size: 20px;
    border-right: 1px solid #bbbbbb;
}


.toolbarCtrl .toolbarCtrl_container .info_about_record_ctrl {
    color: white;
}
.toolbarCtrl > .toolbarCtrl_container > .toolbarItemGroup  input,
.toolbarCtrl > .toolbarCtrl_container > .toolbarItemGroup  textarea {
    padding: 5px 10px ;
}.ctrl_pageControl {
    width: 100%;
    height: 100%;
}
.pageControl-content {
    width: 100%;
    height: 100%;
}
.ctrl_pageControl[mode="horizontal"] {
    padding: 35px 0 0;
}
.ctrl_pageControl[mode="horizontal"] > .div_ul
{
    position: relative;
    height: 35px;
    margin: -35px 0 0;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
.ctrl_pageControl[mode="vertical"] > .div_ul {
    margin: 0 15px;
}
.ctrl_pageControl[mode="horizontal"].bg
{
    border-bottom: 2px solid #5C98BB;
}
.ctrl_pageControlTabs
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 30px;
    position: relative;
}
.ctrl_pageControlTabs.bg
{
   /* background-color: #FFFFFF;*/
}
.ctrl_pageControl[mode="horizontal"] > .div_ul .ctrl_pageControlTabBtn
{
    display: inline-block;
    line-height: 20px;
}
.ctrl_pageControlTabBtn .centerTB
{
    float: left;
    height: 20px;
    padding: 5px;
    width: auto;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    margin-right: 16px;
    border-bottom: 5px solid #DDDDDD;
    color: #0066CC;
}
.ctrl_pageControl[mode="horizontal"] > .div_ul .ctrl_pageControlTabBtn .centerTB:hover
{
    border-bottom-color: #0066CC;
}
.ctrl_pageControl[mode="horizontal"] > .div_ul .ctrl_pageControlTabBtn.active .centerTB
{
    color: #000000;
    border-bottom-color: #000000;
}
.ctrl_pageControlTabBtn.ctrl_disable
{
    background-color: transparent !important;
}
.ctrl_pageControlTabBtn.ctrl_disable .centerTB
{
    color: #C5C5C5;
    cursor: default;
    border-bottom-color: #DDDDDD;
}
.ctrl_pageControlTabPage
{
    min-height: 100px;
    display: none;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.button_scroll {
    display: none;
    position: absolute;
    top: 0;
    width: 20px;
    height: 35px;
    opacity: 0.9;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;   
    user-select: none;
}
.button_scroll:hover {
    opacity: 1;
}
.next_scroll {
    right: 0;
    background: url("~CmpPageControl/scroll_next") no-repeat scroll 0 -6px transparent;
}
.prior_scroll {
    left: 0;
    background: url("~CmpPageControl/scroll_prior") no-repeat scroll 0 -6px transparent;
}
.div_ul::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: #dddddd;
}
.ctrl_pageControl[mode="vertical"] {
    display: flex;
    flex-direction: row;
}
.ctrl_pageControl[mode="vertical"] > .div_ul .ctrl_pageControlTabBtn .centerTB
{
    white-space: nowrap;
    float: none;
    border-bottom: none;
    border-left: 5px solid #DDDDDD;
    margin: 3px 0;
    padding: 10px 5px;
    width: 100%;
}
.ctrl_pageControl[mode="vertical"] > .div_ul .ctrl_pageControlTabBtn .centerTB:hover
{
    border-left-color: #0066CC;
}
.ctrl_pageControl[mode="vertical"] > .div_ul .ctrl_pageControlTabBtn.active .centerTB
{
    color: #000000;
    border-left-color: #000000;
}
        /* фиксированное верхнее меню*/

        .top-nav {
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
            left: 0;
            opacity: 0.95;
            padding: 8px;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 9999;
        }

        .topnav-wrapper {
            margin: 0 auto;
            max-width: 980px;
        }

        .top-logo {
            font: bold 16px/20px "Crete Round", serif;
            padding-left: 10px;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
        }

        .top-logo a {
            color: #B8B8B8;
            text-decoration: none;
        }

        .top-logo a:hover {
            color: #ddd;
        }

        .topnav-right {
            float: right;
        }

        .right-menu {
            margin: 0;
            overflow: hidden;
        }

        .right-menu li {
            float: left;
            list-style-type: none;
            margin: 0;
        }

        .right-menu li a {
            display: block;
            padding: 0.05em 0.75em;
            text-decoration: none;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
        }

        .right-menu li a:hover {
            text-shadow: none;
        }

        .right-menu li span {
            font-size: 16px;
            line-height: 1.2;
        }

        .container {
            max-width: 980px;
            margin: 0 auto;
            padding: 25px 10px 0;
        }

        h1 {
            padding: 50px 0;
            font-weight: 400;
            text-align: center;
        }

        .info {
            color: rgba(78, 78, 78, 0.8);
            width: 100%;
            margin: 40px auto;
            text-align: center;
            font-weight: 300;
        }

        .info a {
            color: #bbb;
            text-decoration: none;
        }

        .info a:hover {
            color: #888;
        }
/* Конец стилей демо-страницы */
/* Базовый контейнер табов */

        .tabs {
            /*min-width: 320px;*/
            /*max-width: 800px;*/
            padding: 0px;
            margin: 0 auto;
        }
/* Стили секций с содержанием */

        .tabs > section {
            display: none;
           /* padding: 15px; */
           /* background: #fff;*/
           /* border: 1px solid #ddd;*/
        }

        .tabs > section > p {
            margin: 0 0 5px;
            line-height: 1.5;
/* прикрутим анимацию */
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
        }
/* Описываем анимацию свойства opacity */

        @-webkit-keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        /* Прячем чекбоксы */

        .tabs > input {
            display: none;
            position: absolute;
        }
/* Стили переключателей вкладок (табов) */

        .tabs > label {
            display: inline-block;
            margin: 0 0 -1px;
            padding: 15px 25px;
            font-weight: 600;
            text-align: center;
            color: #aaa;
            border: 0px solid #ddd;
            border-width: 1px 1px 1px 1px;
            background: #f1f1f1;
            border-radius: 3px 3px 0 0;
        }
/* Шрифт-иконки от Font Awesome в формате Unicode */

        .tabs > label:before {
            font-family: fontawesome;
            font-weight: normal;
            margin-right: 10px;
        }

        .tabs > label[for*="1"]:before {
            /*content: "\f19a";*/
        }

        .tabs > label[for*="2"]:before {
            /*content: "\f17a";*/
        }

        .tabs > label[for*="3"]:before {
            /* content: "\f13b";*/
        }

        .tabs > label[for*="4"]:before {
            /*content: "\f13c";*/
        }
/* Изменения стиля переключателей вкладок при наведении */

        .tabs > label:hover {
            color: #888;
            cursor: pointer;
        }
/* Стили для активной вкладки */

        .tabs > input:checked + label {
            color: #555;
            /*border-top: 1px solid #009933;*/
            /*border-bottom: 1px solid #fff;*/
            /*background: #fff;*/
            border-bottom: solid;
        }

/* Убираем текст с переключателей
* и оставляем иконки на малых экранах
*/

        @media screen and (max-width: 680px) {
            .tabs > label {
                font-size: 0;
            }
            .tabs > label:before {
                margin: 0;
                font-size: 18px;
            }
        }
/* Изменяем внутренние отступы
*  переключателей для малых экранов
*/

        @media screen and (max-width: 400px) {
            .tabs > label {
                padding: 15px;
            }
        }
/* The panes */

.panel-group .panel > .content {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.panel .content {
	padding: 0 0 10px;
}

.panel .content:focus {
	outline: none;
}

.panel.tree-holder .content {
	padding: 10px;
}

.panel.tree-holder .content .subtree{
	position: relative;
	padding-left: 10px;
	display:none;
}

.panel.tree-holder .content .subtree.hidden {
	color: #adafb0;
}

.panel.tree-holder .content .subtree:empty{
	/* jQuery attempts to animate it even if it is empty,
		which causes the element to jump with 1-2 pixels */
	display:none !important;
}

.overview-panel.tree-holder .content .subtree {
	padding-left: 6px;
}

.panel.tree-holder .content span{
	display: block;
	white-space: nowrap;
	padding: 2px 5px;
	border-radius: 2px;
	transition: background-color .2s ease;
}

.panel.tree-holder .content span.hidden {
	color: #adafb0;
}

.panel.tree-holder .content span.focused:not(.selected),
.panel.tree-holder .content span:hover {
	background-color: var(--list-item-highlight);
}

.panel.tree-holder .content span.dragged {
	opacity: 0.5;
}

.panel.tree-holder .content span.disabled u,
.panel.tree-holder .content span.cut b,
.panel.tree-holder .content span.disabled:not(.editing) b {
	opacity: 0.5;
}

.panel.tree-holder .content span b{
	color: inherit;
	font-size: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	line-height: 14px;
	vertical-align: middle;
	margin: 0px 2px;
	padding: 3px 4px;
	border-radius: 2px;
}

.panel.tree-holder .content span b.highlighted {
	box-shadow: 0 0 0 1px #4097D6;
}

.panel.tree-holder .content span b.forbidden {
	box-shadow: 0 0 0 1px #e21111 !important;
}

.design-panel.tree-holder .content .asset-item.smart-editable.editing b {
	text-overflow: initial;
	padding: 0;
}

.design-panel.tree-holder .smart-editable.editing [contenteditable]{
	display: inline-block;
	max-width: 88%;
	overflow: hidden;
	vertical-align: middle;
	position: relative;
	border: 3px solid transparent;
	background: var(--smarteditable-active);
	border-radius: 3px;
	border-width: 3px 4px;
	cursor: text;
}

.design-panel.tree-holder .content .asset-item.smart-editable .name-container {
	display: inline;
}

.design-panel.tree-holder .content .asset-item.smart-editable em {
	font-style: normal;
}

.design-panel.tree-holder .content .asset-item.smart-editable.editing em {
	display: inline-block;
	vertical-align: middle;
}

.panel.tree-holder .content span.selected:not(.editing) b {
	background-color: var(--active);
	color: #fff;
}

.panel.tree-holder .content span b.highlighted{
	box-shadow:0 0 0 1px #4097D6;
}

.panel.tree-holder .content span i{
	display: inline-block;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-left-color: inherit;
	border-width: 3px 0 3px 4px;
	margin-right: 4px;
	margin-left: 2px;
	transform-origin: 3px 50%;
	margin-bottom: 1px;
	z-index: 1;
	position: relative;
}

.panel.tree-holder .content span > b:first-child{
	/* Compensate for missing arrow */
	margin-left: 12px;
}

.panel.tree-holder .content span i.down{
	transform:rotate(90deg);
	margin-right: 4px;
}

.panel.tree-holder .content span u{
	font-size: 13px;
	color: #91999E;
	vertical-align: middle;
}

.panel.tree-holder .content span u.link{
	font-size: 15px;
	margin: 0 0 0px -1px;
	color: #A5ACB1;
}

.panel.tree-holder .content span u.star{
	color: var(--pink);
	margin: 0 2px 0 0;
}

.panel.tree-holder .content span u.visibility,
.panel.tree-holder .content span u.icon-disabled{
	color: var(--text-color);
	margin: 0 2px 0 0;
}

.panel.tree-holder .content span u.custom-options {
	color: var(--badge-custom-options);
	font-size: 15px;
}

.panel.tree-holder .content line{
	position: absolute;
	height: 1px;
	width: 100%;
	left: 0;
	background-color: #4097D6;
	pointer-events: none;
}.table_window{ border-collapse:collapse; }


fieldset, td {
    /*margin: 0;*/
    padding: 0;
}

.win_overlow{
	position:fixed;
	top:0px;
	left:0px;
	background-color: black;
	opacity:0.3;
	filter:alpha(opacity=30);
	width:100%;
	height:100%;
}

.window{
	position: fixed;
}
.window.hidden{
    opacity: 0.0;
}
.window.showed{
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 1.0;
}
.window_max_size{
    max-width: 800px;
    max-height: 600px;
}

.w-loading{
	display:none;
}
.win_btn_container{
	display: inline-block;
	padding-top: 6px;
	vertical-align: top;
	margin-right: 0;
	position: absolute;
	right: 0;
	background: url(Components/Window/images/ModWinT_bg.png);
}

.win_btn_container > div{
	margin-right: 4px;
}

.win_btn_container > div:last-child {
	margin-right: 5px;
}

.window-control {
 width: 23px;
 height: 23px;
 cursor: hand;
 cursor: pointer;
}
.window-control:hover {
 background-position:  0 -24px;
}
.win_remembersize{
	display: inline-block;
	background:transparent url(Components/Window/images/ok.gif) no-repeat scroll 0 0;
 	cursor: pointer;
 	width: 16px;
 	height: 16px;
}
.win_help{
	display: inline-block;
	background:transparent url(Icons/hlp) no-repeat scroll 0 0;
	cursor: hand;
 	cursor: pointer;
 	width: 16px;
 	height: 16px;
}

.win_maximize{
	display: inline-block;
    background-size: cover;
	background:transparent url(Components/Window/images/maximize_off.png);
    width: 16px;
    height: 16px;
}
.win_close{
	display: inline-block;
	background:transparent url(Components/Window/images/close_off.png) repeat scroll 0 0;
    background-size: cover;
    width: 16px;
    height: 16px;
}

.win_info {
	display: inline-block;
	cursor: pointer;
	width: 16px;
	height: 16px;
}

.win_info > svg {
	fill: #5ab0e7;
}

.win_info > svg:hover {
	fill: #1F6DD1;
}


.win_maximize:hover {
 background:transparent url(Components/Window/images/maximize_on.png);
 background-size: cover;
}

.win_close:hover{
 background-size: cover;
 background:transparent url(Components/Window/images/close_on.png);
}


.draggable
{
	cursor:move;
}
/*   Title   */
.Title{
    /*margin: 0 3px;*/
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    cursor: move;
    line-height: 27px;
    vertical-align: middle;
    padding-left: 4px;
    font-size:14px;
    padding-right: 60px;
    overflow: hidden;
    height: 27px;
    text-overflow: ellipsis;
}
.title_window{
	float:left;
	color:#3D6152;
	font-weight:bold;
	padding:0 0 2px 10px;
	height:14px;
	margin-top:8px;
	width:100%;
	overflow: hidden;
	font-size:14px;
}
.win_title{
	color: darkslategray;
}
/*   Content  */ 
.win_content{
    background:#327db0 url("Components/Window/images/Background.png") center center no-repeat;
	overflow:auto;
	font-size:14px;
}

/* StatusBar  */ 
.win_status_bar
{
	padding-bottom:13px;
	float: left;
	left:-5px;
	bottom:7px;
	position:relative;
	color: green; 
	font-weight: bold; 
	font-size: 14px;
}

.win_onloader{
	overflow: hidden;
	background-color:#F7FAE6;
}
/* WinContent */

	table.WinContent
	{
            display: table;
	}
        table.WinContent tr.headerTitle{
            height: 27px;
        }
        table.WinContent td.WinContent div.formBackground
	{
            -moz-border-radius: 0 0 5px 5px;
            -webkit-border-radius: 0 0 5px 5px;
            -o-border-radius: 0 0 5px 5px;
            border-radius: 0 0 5px 5px;
        }

	table.WinContent td.WinContentLeftTop
	{
                min-width: 10px;
		width:10px;
		height:10px;
		background:url("Components/Window/images/ModWin_tl.png") left top no-repeat;
	}

	table.WinContent td.WinContentTop
	{
		height:10px;
		background:url("Components/Window/images/ModWin_t.png") left top repeat-x;
	}

	table.WinContent td.WinContentRightTop
	{
                min-width: 10px;
		width:10px;
		height:10px;
		background:url("Components/Window/images/ModWin_tr.png") left top no-repeat;
	}
        table.WinContent div.WinTitleLeft
	{
		background:url("Components/Window/images/ModWinT_l.png") left top no-repeat;
                /*background:url("Components/Window/images/ModWin_bg.png") left top;*/
                min-width: 3px;
                width: 3px;
                float: left;
                height:27px;
	}
	table.WinContent div.WinTitle
	{
		display: inline-block;
		margin-left: 0;
	}

	.headerContainer {
		height: 27px;
		background:url("Components/Window/images/ModWinT_bg.png");
		position: relative;
	}

	table.WinContent div.WinTitleRight
	{
                float: right;
                min-width: 3px;
                width: 3px;
                height:27px;
		background:url("Components/Window/images/ModWinT_r.png") right top no-repeat;
                /*background:url("Components/Window/images/ModWin_bg.png") left top;*/
	}
	table.WinContent td.WinContentLeft
	{
		width:10px;
		background:url("Components/Window/images/ModWin_l.png") left top repeat-y;
	}

	table.WinContent td.WinContent
	{
		background:url("Components/Window/images/ModWin_bg.png") left top;
	}
        
	table.WinContent td.WinContentRight
	{
		width:10px;
		background:url("Components/Window/images/ModWin_r.png") left top repeat-y;
                -moz-user-select: none;
                user-select: none;
                -webkit-user-select: none;
	}

	table.WinContent td.WinContentLeftBottom
	{
		width:10px;
		height:10px;
		background:url("Components/Window/images/ModWin_bl.png") left top no-repeat;
                cursor:s-resize;
                -moz-user-select: none;
                user-select: none;
                -webkit-user-select: none;
	}

	table.WinContent td.WinContentBottom
	{
		height:10px;
		background:url("Components/Window/images/ModWin_b.png") left top repeat-x;
                cursor:s-resize;
                -moz-user-select: none;
                user-select: none;
                -webkit-user-select: none;
	}

	table.WinContent td.WinContentRightBottom
	{
		width:10px;
		height:10px;
		background:url("Components/Window/images/ModWin_br.png") left top no-repeat;
                cursor:se-resize;
                -moz-user-select: none;
                user-select: none;
                -webkit-user-select: none;
	}   /*
     Если в родителе нет класса WinContent у родителя, тогда нкжно добавить position: fixed;
   */

	table.WinLayout{
        display: table;
        font-weight: bold;
        padding:1px;
        margin-left: auto;
        margin-right: auto;
        overflow: scroll; /* Добавляем полосы прокрутки */
	}
    table.WinLayout td.WinVerticalSpliter {
       width:10px;
	   background:url("/Components/Layout/images/ModWin_l.png") left top repeat-y;
    }
    table.WinLayout td.WinLayout div.formBackground
	{
            -moz-border-radius: 0 0 5px 5px;
            -webkit-border-radius: 0 0 5px 5px;
            -o-border-radius: 0 0 5px 5px;
            border-radius: 0 0 5px 5px;
    }

	table.WinLayout td.WinLayoutTop
	{
		height:10px;
		background:url("/Components/Layout/images/ModWin_t.png") left top repeat-x;
		background-color:rgb(250,100,100);
	}

	table.WinLayout td.WinLayoutLeft
	{
		width:10px;
		background:url("/Components/Layout/images/ModWin_l.png") left top repeat-y;
	}

	table.WinLayout td.WinLayout
	{
		/*background:url("/Components/Window/images/ModWin_bg.png") left top;*/
	}
	table.WinLayout td.WinLayoutRight
	{
		width:10px;
		background:url("/Components/Layout/images/ModWin_l.png") left top repeat-y;
                -moz-user-select: none;
                user-select: none;
                -webkit-user-select: none;
	}

	table.WinLayout td.WinLayoutBottom
	{
		height:10px;
		background:url("/Components/Layout/images/ModWin_t.png") left top repeat-x;
                cursor:s-resize;
                -moz-user-select: none;
                user-select: none;
                -webkit-user-select: none;
	}

